<h2>This is the App component</h2>
<p>This is the root component of this Angular SPA. Check the developer tools 
in your browser and you can explore the HTML. You'll find this HTML nested within the 
app-component tag which appears within the body tag. Below are two child components of
this one, which should be rendered side-by-side thanks to the styling found 
in app.component.css.</p>
<hr>
<div class="flexContainer">
  <app-child-one class="flexItem"></app-child-one>
  <app-child-two class="flexItem"></app-child-two>
</div>